/* about me section */

.aboutMeSection {
    margin: 0 0 40px 0;
}

.aboutMeProfession {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.25;
    color: var(--color-title);
    margin: 0 0 14px 0;
}

.aboutMeName {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: var(--color-title);
    margin: 0 0 14px 0;
}

.aboutMeDescription {
    /* width: 735px; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

/* !!!!!    P R I N T   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media print {
    
    .aboutMeSection {
        margin: 0 0 20px 0;
    }

    .myEducationSection {
        margin: 20px 0 0 0;
    }

    .userProfileLang {
        display: none;
    }

    .aboutMeDescription {
        color: var(--color-title);
    }

    .aboutMeDescription {

        line-height: 1.25;

    }
}