/* my work experience */

.myWorkExperiencePosition {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-title);
    margin: 0 0 7px 0;
}

.myWorkExperienceCompany {
    color: var(--color-accent);
}

.myWorkExperiencePeriod {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-work-experience);
    margin: 0 0 7px 0;
}

.myWorkExperienceDivider {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-title);
}

.myWorkExperienceDuties {
    padding-left: 18px;
    margin-top: 0;
    margin-bottom: 14px;
}

.myWorkExperienceDuty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

.myWorkExperienceBlock {
    margin: 0 15px 0 0;
}

.mainContentTitle {
    display: flex;
    align-items: flex-start;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: var(--color-title);
    margin-bottom: 10px;
    margin-top: 0;
}

.mainContentTitle svg {
    margin-right: 10px;
}

/* !!!!!    P R I N T   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


@media print {

    .myEducationSection {
        margin: 20px 0 0 0;
    }

    .company .myWorkExperienceBlock:nth-child(n+4) ul {
        display: none;
    }

    .myWorkExperienceCompany,
    .myWorkExperiencePeriod {
        color: var(--color-title);
    }

    .myWorkExperienceDuty {
        line-height: 1.25;
    }
}